* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-container {
  display: flex;
}

.nav-container {
  float: right;
  min-width: 150px;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 20vh;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(36, 34, 34);
}

.tool {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  background-color: beige;
}

.storage {
  height: 30px;
  width: 30px;
  background-color: white;
}

.gameboard-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-start {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  background-color: rgb(89, 177, 218);
  width: 100vmin;
  height: 100vmin;
  display: none;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.game-board div:hover {
  border: 0.5px lightgrey solid;
}

.green {
  background: url(/utilities/images/mineLeaves.png) no-repeat center
    center/cover;
  /* width: 1fr;
  height: 1fr; */
}

.brown {
  background: url(/utilities/images/mineDirt.png) no-repeat center center/cover;
}

.darkbrown {
  background: url(/utilities/images/mineTrunk.png) no-repeat center center/cover;
}

.gray {
  background: url(/utilities/images/mineCobble.png) no-repeat center
    center/cover;
}

.white {
  background-color: white;
}
